body {
    padding: 2em;
    font-family: sans-serif;
  }
  
  #card {
    border: 2px solid Gray;
    border-radius: 10px;
  }
  .rounded {
    border-radius: 10px;
  }
  .large {
    font-size: 2em;
  }
  label {
    margin-left: 1em;
  }
  button:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  #card header {
    display: block;
    border-radius: 8px 8px 0 0;
    background: orange;
    padding: 10px;
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  #card div, #card p {
    padding:1em;
  }
  
  
  #card ul { 
    list-style: none;
    margin: 0;
    padding: 0 1em 1em;
  }
  
  #card ul li {
    padding: .25em;
    border: 1px solid gray;
    margin: .5em 0;
    border-radius: 3px;
  }
  