body {
    padding: 2em;
    font-family: sans-serif;
  }
  
  #card {
    border: 2px solid Gray;
    border-radius: 10px;
  }
  
  #card header {
    display: block;
    border-radius: 8px 8px 0 0;
    background: orange;
    padding: 10px;
    color: white;
    font-size: 1.5em;
  }
  
  #card div {
    padding:1em;
  }
  
  